<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}API {% endblock title %}</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
  <header>
    <h1>Заголовок</h1>
  </header>

  <main>
    <p>Контент страницы</p>
  </main>

  <footer>
    <p>© 2025 Все права защищены</p>
  </footer>

  <script src="/static/app.js"></script>
</body>
</html>
